# ``PackagePlugin/PackageManager/TestResult/TestTarget/TestCase/Test/Result-swift.enum``

## Topics

### Test Results

- ``succeeded``
- ``skipped``
- ``failed``

### Creating a Test Result

- ``init(rawValue:)``
