.build
.test
.index-build
.devcontainer/.env
DerivedData
/.previous-build
xcuserdata
.DS_Store
*~
\#*
.\#*
.*.sw[nop]
*.xcscmblueprint
/default.profraw
*.xcodeproj
Utilities/Docker/*.tar.gz
.swiftpm
Package.resolved
/build
*.pyc
.docc-build
.vscode
/stage/
Utilities/InstalledSwiftPMConfiguration/config.json
Fixtures/BinaryLibraries/Static/Package1/Simple.artifactbundle/build
