Alex Blewitt <alblue@apple.com> <alblue@apple.com>
Alex Blewitt <alblue@apple.com> <alex.blewitt@gmail.com>
Alex Hoppen <ahoppen@apple.com> <ahoppen@apple.com>
Alex Hoppen <ahoppen@apple.com> <alex@ateamer.de>
Ankit Aggarwal <ankit_aggarwal@apple.com> <ankit_aggarwal@apple.com>
Ankit Aggarwal <ankit_aggarwal@apple.com> <ankit.spd@gmail.com>
Ankit Aggarwal <ankit_aggarwal@apple.com> <ankit.spd@gmail.com>
Ankit Aggarwal <ankit_aggarwal@apple.com> <ankit@Stardust.local>
Ben Chatelain <ben@octop.ad> <ben@octop.ad>
Ben Chatelain <ben@octop.ad> <phatblat@users.noreply.github.com>
Ben Cohen <ben_cohen@apple.com> <ben_cohen@apple.com>
Ben Cohen <ben_cohen@apple.com> <airspeedswift@users.noreply.github.com>
Ben Langmuir <blangmuir@apple.com> <blangmuir@apple.com>
Ben Langmuir <blangmuir@apple.com> <ben.langmuir@gmail.com>
Benjamin Herzog <benjamin_herzog@apple.com> <benjamin_herzog@apple.com>
Benjamin Herzog <benjamin_herzog@apple.com> <mail@benchr.de>
Benjamin Scholtysik <bscholtysik@apple.com> <bscholtysik@apple.com>
Benjamin Scholtysik (Reimold) <bscholtysik@apple.com> <bereimol@microsoft.com>
Benjamin Scholtysik <bscholtysik@apple.com> <bereimol@microsoft.com>
Boris Buegling <bbuegling@apple.com> <bbuegling@apple.com>
Boris Buegling <bbuegling@apple.com> <boris@icculus.org>
Braden Scothern <BradenScothern@gmail.com> <BradenScothern@gmail.com>
Braden Scothern <BradenScothern@gmail.com> <bscothern@users.noreply.github.com>
Brandon Titus <bjtitus@gmail.com> <bjtitus@gmail.com>
Brandon Titus <bjtitus@gmail.com> <b@titus.io>
Brian Croom <bcroom@apple.com> <bcroom@apple.com>
Brian Croom <bcroom@apple.com> <brian.s.croom@gmail.com>
Brian Gesiak <modocache@gmail.com> <modocache@gmail.com>
Brian Gesiak <modocache@gmail.com> <bgesiak@fb.com>
Chris Lattner <clattner@apple.com> <clattner@apple.com>
Chris Lattner <clattner@apple.com> <lattner@users.noreply.github.com>
Dan Zheng <danielzheng@google.com> <danielzheng@google.com>
Dan Zheng <danielzheng@google.com> <zheng321@purdue.edu>
Daniel Duan <danmarner@gmail.com> <danmarner@gmail.com>
Daniel Duan <danmarner@gmail.com> <daniel@duan.ca>
Daniel Duan <danmarner@gmail.com> <daniel@duan.org>
Daniel Dunbar <daniel_dunbar@apple.com> <daniel_dunbar@apple.com>
Daniel Dunbar <daniel_dunbar@apple.com> <daniel@zuster.org>
Dario Rexin <drexin@apple.com> <drexin@apple.com>
Dario Rexin <drexin@apple.com> <dario.rexin@me.com>
Dave Abrahams <dabrahams@apple.com> <dabrahams@apple.com>
Dave Abrahams <dabrahams@apple.com> <dave@Skree.local>
David Hart <david@hartbit.com> <david@hartbit.com>
David Hart <david@hartbit.com> <david@atipik.ch>
Harlan Haskins <harlan@apple.com> <harlan@apple.com>
Harlan Haskins <harlan@apple.com> <harlan@harlanhaskins.com>
Helge Hess <me@helgehess.eu> <me@helgehess.eu>
Honza Dvorsky <honza@apple.com> <honza@apple.com>
Honza Dvorsky <honza@apple.com> <honza@swiftkey.com>
Honza Dvorsky <honza@apple.com> <jan.dvorsky@yahoo.com>
J. Cheyo Jimenez <cheyo@masters3d.com> <cheyo@masters3d.com>
J. Cheyo Jimenez <cheyo@masters3d.com> <masters3d@users.noreply.github.com>
Johannes Weiss <johannesweiss@apple.com> <johannesweiss@apple.com>
Johannes Weiss <johannesweiss@apple.com> <github@tux4u.de>
Johannes Weiss <johannesweiss@apple.com> <johannesweiss@apple.com>
Kilian Koeltzsch <kiliank@apple.com> <kiliank@apple.com>
Kilian Koeltzsch <kiliank@apple.com> <me@kilian.io>
Kyle Jessup <kyle@perfect.org> <kyle@perfect.org>
Kyle Jessup <kyle@perfect.org> <badthing@gmail.com>
Lev Walkin <lwalkin@apple.com> <lwalkin@apple.com>
Lev Walkin <lwalkin@apple.com> <vlm@lionet.info>
Marcin Krzyzanowski <marcin@krzyzanowskim.com> <marcin@krzyzanowskim.com>
Marcin Krzyzanowski <marcin@krzyzanowskim.com> <758033+krzyzanowskim@users.noreply.github.com>
Marcin Krzyzanowski <marcin@krzyzanowskim.com> <marcin.krzyzanowski@gmail.com>
Marcin Krzyzanowski <marcin@krzyzanowskim.com> <marcin@krzyzanowskim.com>
Matthew Seaman <mattsdeveloper@gmail.com> <mattsdeveloper@gmail.com>
Matthew Seaman <mattsdeveloper@gmail.com> <matthewseaman@users.noreply.github.com>
Mattt Thompson <mattt@me.com> <mattt@me.com>
Mattt Thompson <mattt@me.com> <mattt@github.com>
Mattt Thompson <mattt@me.com> <mattt.thompson@apple.com>
Max Howell <max.howell@apple.com> <max.howell@apple.com>
Max Howell <max.howell@apple.com> <mxcl@me.com>
Max Liberman <max.y.liberman@gmail.com> <max.y.liberman@gmail.com>
Max Liberman <max.y.liberman@gmail.com> <liberman@wetransfer.com>
Max Moiseev <moiseev@apple.com> <moiseev@apple.com>
Max Moiseev <moiseev@apple.com> <moiseev@users.noreply.github.com>
Max Moiseev <moiseev@apple.com> <maxim.moiseev@gmail.com>
Michael Ilseman <milseman@apple.com> <milseman@apple.com>
Michael Ilseman <milseman@apple.com> <michael.ilseman@gmail.com>
Mishal Shah <mishal_shah@apple.com> <mishal_shah@apple.com>
Mishal Shah <mishal_shah@apple.com> <shahmishal@users.noreply.github.com>
Nikola Lajic <n.lajic@gmail.com> <n.lajic@gmail.com>
Nikola Lajic <n.lajic@gmail.com> <nikola.lajic@codecentric.de>
Owen Voorhees <owen@squibner.com> <owen@squibner.com>
Owen Voorhees <owen@squibner.com> <owenvoorhees@gmail.com>
Pavel Yaskevich <pyaskevich@apple.com> <pyaskevich@apple.com>
Pavel Yaskevich <pyaskevich@apple.com> <xedin@apache.org>
Saleem Abdulrasool <compnerd@compnerd.org> <compnerd@compnerd.org>
Saleem Abdulrasool <compnerd@compnerd.org> <abdulras@fb.com>
Saleem Abdulrasool <compnerd@compnerd.org> <abdulras@google.com>
Sergio Campamá <scampama@apple.com> <scampama@apple.com>
Sergio Campamá <scampama@apple.com> <kaipi@copilot.money>
Slava Pestov <spestov@apple.com> <spestov@apple.com>
Slava Pestov <spestov@apple.com> <sviatoslav.pestov@gmail.com>
Thomas Roughton <t.roughton@me.com> <t.roughton@me.com>
Thomas Roughton <t.roughton@me.com> <troughton@users.noreply.github.com>
Tim Condon <0xTim@users.noreply.github.com> <0xTim@users.noreply.github.com>
Tim Condon <0xTim@users.noreply.github.com> <tg908@icloud.com>
Tim Gymnich <tgymnich@icloud.com> <tgymnich@icloud.com>
Tim Gymnich <tgymnich@icloud.com> <tg908@icloud.com>
Tom Doron <tomer@apple.com> <tomer@apple.com>
Valeriy Van <github@w7software.com> <valeriy.van@enote.com>
Valeriy Van <github@w7software.com> <github@w7software.com>
finagolfin <butta@fastem.com> <butta@fastem.com>
finagolfin <butta@fastem.com> <repo@butta.fastem.com>
