## File options

--swiftversion 5.9
--exclude .build

## Formatting options

# Configure the placement of an extension's access control keyword.
--extensionacl on-declarations

# #if indenting
--ifdef no-indent

# Wrap lines that exceed the specified maximum width.
--maxwidth 120

# Reposition `let` or `var` bindings within pattern.
--patternlet inline

# Insert explicit `self` where applicable.
--self insert

# Mark unused function arguments with `_`.
--stripunusedargs unnamed-only

# Remove trailing space at end of a line.
--trimwhitespace always

# Wrap `@attributes` onto a separate line.
--funcattributes prev-line
--typeattributes prev-line

# Use `Void` for type declarations and `()` for values.
--voidtype void

# Align wrapped function arguments or collection elements.
--wraparguments before-first

## Rules

# Prefer `&&` over `,` comma in `if`, `guard` or `while` conditions.
# Preserve `nil` default value (Optional `var`s are `nil` by default).
--disable andOperator,redundantNilInit 
