# This file is a list of the people responsible for ensuring that patches for a
# particular part of Swift are reviewed, either by themselves or by someone else.
# They are also the gatekeepers for their part of Swift, with the final word on
# what goes in or not.
#
# The list is sorted by surname and formatted to allow easy grepping and
# beautification by scripts.  The fields are: name (N), email (E), web-address
# (W), PGP key ID and fingerprint (P), description (D), and snail-mail address
# (S).

# N: Tomer Doron
# E: tomer@apple.com
# D: Package Manager

# N: Max Desiatov
# E: m_desiatov@apple.com
# D: Package Manager

# N: Ben Barham
# E: ben_barham@apple.com
# D: Package Manager

###

# The following lines are used by GitHub to automatically recommend reviewers.

Sources/XCBuildSupport/* @jakepetroules

* @bnbarham @MaxDesiatov @jakepetroules @xedin @dschaefer2 @shawnhyam @bripeticca @plemarquand @owenv @bkhouri @cmcgee1024 @daveyc123
