<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-10-26T12:46:42Z</date>
	<key>WorkspacePath</key>
	<string>/Users/cavellebenjamin/Development/swift/swift-package-manager</string>
</dict>
</plist>
