# ``PackagePlugin/PackageManager/TestResult``

## Topics

### Inspecting Test Results

- ``succeeded``
- ``testTargets``
- ``codeCoverageDataFileURL``
- ``TestTarget``
- ``codeCoverageDataFile``
