<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="doug.Game"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="34" />

    <application
        android:label="Game"
        android:hasCode="true">
        <activity
            android:name="swift.example.ExampleActivity"
            android:label="Game"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
