<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>PackageDescription</string>
    <key>CFBundleDisplayName</key>
    <string>PackageDescription</string>
    <key>CFBundleIdentifier</key>
    <string>org.swift.swiftpm.packagedescription</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleIconFile</key>
    <string>DocumentationIcon</string>
    <key>CFBundleIconName</key>
    <string>DocumentationIcon</string>
    <key>CFBundlePackageType</key>
    <string>DOCS</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CDDefaultCodeListingLanguage</key>
    <string>swift</string>
    <key>CFBundleVersion</key>
    <string>0.1.0</string>
    <key>CDAppleDefaultAvailability</key>
        <dict>
            <key>PackageDescription</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>Mac Catalyst</string>
                    <key>version</key>
                    <string>13.0</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>iOS</string>
                    <key>version</key>
                    <string>8.0</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>tvOS</string>
                    <key>version</key>
                    <string>9.0</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>watchOS</string>
                    <key>version</key>
                    <string>2.0</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>macOS</string>
                    <key>version</key>
                    <string>10.10</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>DriverKit</string>
                    <key>version</key>
                    <string>19.0</string>
                </dict>
            </array>
        </dict>
</dict>
</plist>
